<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h4>Contacto</h4>
        <ul>
          <li>Dirección: 123 Profe Tequieromucho, Cipolletti</li>
          <li>Teléfono: +299 655 433</li>
          <li>Email: profeAprobamePorfaSiNoMeQuedoSinFuturo@gmail.com</li>
        </ul>
      </div>