<p>inicio-sesion works!</p>
<div class="container">
    <div class="row">
        <h1>Inicia Sesión</h1>

        <i class="material-icons" style="font-size: 200px;">person</i>
        
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su nombre de usuario:</mat-label>
            <input  matInput placeholder="Ej: Pepito" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ingrese su apellido:</mat-label>
            <input  matInput placeholder="Ej: Peréz" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email:</mat-label>
            <input  matInput placeholder="Ej: pepitoperez2022@gmail.com" required>
        </mat-form-field>

       <mat-form-field>
            <mat-label>Seleccione su rol de usuario:</mat-label>
            <select  matNativeControl required>
              <option value="admin">Administrador</option>
              <option value="vist">Visitante</option>
              <option value="vist">Cliente</option>
            </select>
        </mat-form-field> 

       

        <button class="boton" mat-raised-button color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
</div>